@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

h1, h2{
    color: darkgreen;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 25pt;
}

p strong, p em{
    color: orange;
    font-family: "휴먼굵은팸체";
    font-size: 15pt;
    font-style: italic;
}
ul ul li{
    color: red;
    font-family: "휴먼매직체";
    font-size: 18pt;
    font-weight: bold;
}